---
import DefaultLayout from "../layouts/Default.astro";
---

<DefaultLayout>
    <div class="flex flex-col justify-center items-center mt-12 gap-3">
      <h1 class="text-5xl font-bold text-center" data-i18n="titre404">Page non trouvée</h1>
      <p class="text-xl text-center" data-i18n="message404">La page que vous recherchez n'existe pas.</p>
    </div>
</DefaultLayout>
