---
import DefaultLayout from "../layouts/Home.astro";
import BentoGrid from "../components/BentoGrid.astro";
import Hero1 from "../components/Hero1.astro";
import Partenaires from "../components/Partenaires.astro";
---

<DefaultLayout>
    <div
      class="flex flex-col lg:flex-row place-items-center mx-4 md:mx-16 md:gap-16"
    >
      <div class="lg:w-1/3 flex flex-col p-4 md:m-10">
        <svg
          class="w-full h-auto md:w-111 pb-"
          width="391"
          height="83"
          viewBox="0 0 391 83"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_8_44)">
            <path
              d="M240.646 10C235.449 10 231.292 14.1774 231.292 19.3991C231.292 24.6208 235.449 28.7981 240.646 28.7981C245.843 28.7981 250 24.6208 250 19.3991C250 14.1774 245.843 10 240.646 10Z"
              fill="var(--color-primary)"></path>
            <path
              d="M220.725 42.7227C223.843 42.7227 226.441 40.1118 226.441 36.9788C226.441 33.8458 223.843 31.2349 220.725 31.2349C217.607 31.2349 215.008 33.8458 215.008 36.9788C214.835 40.1118 217.433 42.7227 220.725 42.7227Z"
              fill="var(--color-primary)"></path>
            <path
              d="M120.653 66.0345L123.916 57.8636L127.179 66.0345C127.342 66.0345 120.653 66.0345 120.653 66.0345ZM121.468 51.3268L110.7 76.4933H116.247L118.532 70.937H129.137L131.421 76.4933H137.132L126.526 51.3268H121.468Z"
              fill="var(--color-primary)"></path>
            <path
              d="M345.647 66.0345L348.911 57.8636L352.174 66.0345C352.337 66.0345 345.647 66.0345 345.647 66.0345ZM346.463 51.3268L335.695 76.4933H341.242L343.526 70.937H354.132L356.416 76.4933H362.126L351.521 51.3268H346.463Z"
              fill="var(--color-primary)"></path>
            <path
              d="M374.689 61.6222L368.653 51.4903H362.289L371.916 66.6882V76.4933H377.463V66.5247L386.926 51.4903H380.726L374.689 61.6222Z"
              fill="var(--color-primary)"></path>
            <path
              d="M103.195 60.3149C103.195 62.4393 101.563 64.0735 98.7895 64.0735H94.5474V56.3928H98.7895C101.4 56.5562 103.195 57.8636 103.195 60.3149ZM99.1158 51.4903H89V76.4933H94.5474V68.976H98.6263C104.174 68.976 108.742 66.0345 108.742 60.1514C108.742 55.0855 105.153 51.4903 99.1158 51.4903Z"
              fill="var(--color-primary)"></path>
            <path
              d="M296.047 71.9175C291.805 71.9175 288.868 68.3223 288.868 64.0735C288.868 59.8246 291.968 56.2294 296.047 56.2294C298.495 56.2294 300.453 57.3733 302.411 59.0075L305.837 54.922C303.553 52.6342 300.779 51 296.047 51C288.379 51 282.995 56.8831 282.995 63.91C282.995 71.1005 288.379 76.8201 295.884 76.8201C300.779 76.8201 303.553 75.0225 306.163 72.4078L302.737 68.8126C300.616 70.7736 298.821 71.9175 296.047 71.9175Z"
              fill="var(--color-primary)"></path>
            <path
              d="M239.921 61.6222C235.516 60.4783 234.537 59.988 234.537 58.3538C234.537 57.2099 235.679 56.2294 237.8 56.2294C239.921 56.2294 242.042 57.2099 244.326 58.6807L247.263 54.5952C244.816 52.6342 241.553 51.3268 237.963 51.3268C232.905 51.3268 229.153 54.2684 229.153 58.8441C229.153 63.7466 232.416 65.2174 237.474 66.5247C241.716 67.6687 242.532 68.3223 242.532 69.6297C242.532 71.1005 241.226 71.9175 238.942 71.9175C236.005 71.9175 233.721 70.7736 231.437 68.8126L228.174 72.7346C231.111 75.3493 235.026 76.6567 238.779 76.6567C244.163 76.6567 247.916 73.8786 247.916 68.976V68.8126C247.916 64.7271 244.979 62.9295 239.921 61.6222Z"
              fill="var(--color-primary)"></path>
            <path
              d="M318.563 51.4903H313.179V76.4933H331.126V71.5907H318.563V51.4903Z"
              fill="var(--color-primary)"></path>
            <path
              d="M262.6 66.0345L265.863 57.8636L269.126 66.0345H262.6ZM263.416 51.3268L252.647 76.4933H258.195L260.479 70.937H271.084L273.368 76.4933H279.079L268.474 51.3268H263.416Z"
              fill="var(--color-primary)"></path>
            <path
              d="M222.3 62.9296H211.368V68.159H222.3V62.9296Z"
              fill="var(--color-primary)"></path>
            <path
              d="M159.158 60.1514C159.158 62.2759 157.689 63.7466 154.916 63.7466H149.368V56.5562H154.753C157.526 56.5562 159.158 57.7002 159.158 60.1514ZM164.705 59.8246C164.705 54.5952 161.116 51.4903 155.242 51.4903H143.821V76.4933H149.368V68.4858H153.774L159.158 76.4933H165.521L159.321 67.6687C162.584 66.3613 164.705 63.9101 164.705 59.8246Z"
              fill="var(--color-primary)"></path>
            <path
              d="M178.247 51.4903H172.7V76.4933H178.247V51.4903Z"
              fill="var(--color-primary)"></path>
            <path
              d="M197.174 61.6222C192.768 60.4783 191.789 59.988 191.789 58.3538C191.789 57.2099 192.932 56.2294 195.053 56.2294C197.174 56.2294 199.295 57.2099 201.579 58.6807L204.516 54.5952C202.068 52.6342 198.805 51.3268 195.216 51.3268C190.158 51.3268 186.405 54.2684 186.405 58.8441C186.405 63.7466 189.668 65.2174 194.726 66.5247C198.968 67.6687 199.784 68.3223 199.784 69.6297C199.784 71.1005 198.479 71.9175 196.195 71.9175C193.258 71.9175 190.974 70.7736 188.689 68.8126L185.426 72.7346C188.363 75.3493 192.279 76.6567 196.032 76.6567C201.416 76.6567 205.168 73.8786 205.168 68.976V68.8126C205.168 64.7271 202.232 62.9295 197.174 61.6222Z"
              fill="var(--color-primary)"></path>
            <path
              d="M104.48 43.48C102.144 43.48 99.952 43.048 97.904 42.184C95.856 41.32 94.048 40.12 92.48 38.584C90.944 37.048 89.728 35.272 88.832 33.256C87.968 31.208 87.536 29.016 87.536 26.68C87.536 24.312 87.984 22.12 88.88 20.104C89.776 18.056 90.992 16.28 92.528 14.776C94.096 13.24 95.904 12.04 97.952 11.176C100 10.312 102.176 9.88 104.48 9.88C107.04 9.88 109.408 10.392 111.584 11.416C113.792 12.44 115.68 13.848 117.248 15.64C118.848 17.4 120 19.416 120.704 21.688H111.248C110.8 20.536 109.936 19.576 108.656 18.808C107.376 18.04 106.048 17.656 104.672 17.656C103.36 17.656 102.176 17.912 101.12 18.424C100.064 18.936 99.168 19.624 98.432 20.488C97.696 21.32 97.12 22.28 96.704 23.368C96.32 24.424 96.128 25.528 96.128 26.68C96.128 27.928 96.336 29.096 96.752 30.184C97.2 31.24 97.792 32.184 98.528 33.016C99.296 33.848 100.192 34.504 101.216 34.984C102.24 35.432 103.328 35.656 104.48 35.656C105.888 35.656 107.248 35.288 108.56 34.552C109.872 33.784 110.784 32.776 111.296 31.528H120.752C120.048 33.832 118.896 35.88 117.296 37.672C115.728 39.464 113.84 40.888 111.632 41.944C109.424 42.968 107.04 43.48 104.48 43.48ZM125.015 43V10.36H139.559C141.287 10.36 142.903 10.808 144.407 11.704C145.911 12.6 147.127 13.848 148.055 15.448C148.983 17.048 149.447 18.904 149.447 21.016C149.447 23.32 148.983 25.272 148.055 26.872C147.127 28.472 145.911 29.688 144.407 30.52C142.903 31.352 141.287 31.768 139.559 31.768H133.511V43H125.015ZM133.511 25.288H137.351C137.863 25.288 138.391 25.144 138.935 24.856C139.511 24.536 139.991 24.072 140.375 23.464C140.759 22.824 140.951 22.024 140.951 21.064C140.951 20.168 140.743 19.416 140.327 18.808C139.943 18.168 139.479 17.688 138.935 17.368C138.391 17.016 137.863 16.84 137.351 16.84H133.511V25.288ZM153.328 43V10.36H174.016V18.04H161.824V22.792H173.536V30.424H161.824V35.32H174.016V43H153.328ZM191.552 43.816C189.76 43.816 188 43.56 186.272 43.048C184.576 42.568 183.024 41.816 181.616 40.792C180.24 39.768 179.152 38.472 178.352 36.904C177.584 35.304 177.248 33.4 177.344 31.192H185.744C185.776 32.536 186.096 33.64 186.704 34.504C187.312 35.368 188.08 36.008 189.008 36.424C189.968 36.84 190.944 37.048 191.936 37.048C192.448 37.048 193.088 36.968 193.856 36.808C194.624 36.616 195.312 36.296 195.92 35.848C196.56 35.4 196.88 34.792 196.88 34.024C196.88 33.384 196.672 32.872 196.256 32.488C195.872 32.072 195.312 31.736 194.576 31.48C193.872 31.192 193.04 30.936 192.08 30.712C191.12 30.456 190.064 30.184 188.912 29.896C187.824 29.608 186.672 29.272 185.456 28.888C184.24 28.472 183.088 27.912 182 27.208C180.944 26.504 180.08 25.576 179.408 24.424C178.768 23.272 178.448 21.8 178.448 20.008C178.448 18.28 178.816 16.792 179.552 15.544C180.32 14.264 181.312 13.208 182.528 12.376C183.744 11.512 185.104 10.888 186.608 10.504C188.112 10.088 189.6 9.88 191.072 9.88C192.8 9.88 194.464 10.088 196.064 10.504C197.696 10.92 199.152 11.592 200.432 12.52C201.744 13.416 202.784 14.6 203.552 16.072C204.32 17.544 204.688 19.32 204.656 21.4H196.592C196.464 19.608 195.952 18.392 195.056 17.752C194.16 17.112 192.88 16.792 191.216 16.792C190.768 16.792 190.224 16.888 189.584 17.08C188.944 17.24 188.384 17.528 187.904 17.944C187.424 18.328 187.184 18.856 187.184 19.528C187.184 20.008 187.344 20.408 187.664 20.728C188.016 21.016 188.496 21.272 189.104 21.496C189.712 21.72 190.432 21.928 191.264 22.12C192.128 22.28 193.072 22.472 194.096 22.696C195.376 22.984 196.688 23.352 198.032 23.8C199.376 24.216 200.624 24.792 201.776 25.528C202.928 26.264 203.856 27.24 204.56 28.456C205.264 29.64 205.616 31.16 205.616 33.016C205.616 35 205.2 36.68 204.368 38.056C203.568 39.432 202.496 40.552 201.152 41.416C199.808 42.248 198.304 42.856 196.64 43.24C194.976 43.624 193.28 43.816 191.552 43.816Z"
              fill="var(--color-primary)"></path>
            <path
              d="M44.3368 76.8971C44.3368 80.5588 43.1211 83 41.5 83C39.8789 83 38.6632 80.5588 38.6632 76.8971C38.6632 73.2353 40.6895 67.1324 41.5 67.1324C42.3105 67.1324 44.3368 73.2353 44.3368 76.8971Z"
              fill="var(--color-primary)"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M38.6632 13.4265C38.6632 13.4265 39.0684 0 41.5 0C43.9316 0 44.3368 13.4265 44.3368 13.4265C44.3368 13.4265 51.2263 14.6471 54.8737 22.3775C58.5211 30.1078 53.6579 37.0245 53.6579 37.0245C53.6579 37.0245 60.5474 41.0931 60.5474 32.1422C60.5474 23.1912 67.0316 21.5637 67.0316 21.5637C67.0316 21.5637 65.4105 26.0392 66.6263 30.1078C67.8421 34.1765 66.2211 38.652 66.2211 38.652C66.2211 38.652 80 39.0588 80 41.5C80 43.9412 57.3053 47.1961 57.3053 47.1961C57.3053 47.1961 60.181 50.0441 61.7632 53.299C63.3453 56.5539 63.4488 61.6884 62.5737 61.0294C61.9284 60.5435 61.5895 60.1652 61.14 59.6633C60.4603 58.9043 59.5277 57.8629 56.9 55.7402C52.5346 52.2136 50.0105 51.6716 50.0105 51.6716C50.0105 51.6716 49.6619 52.8922 50.8211 58.1814C51.3633 60.6555 51.9303 61.8833 52.4217 62.9475C52.9809 64.1583 53.4422 65.1572 53.6579 67.5392C54.0632 72.0147 51.6316 76.4902 51.2263 76.4902C51.1141 76.4902 51.1572 76.194 51.2352 75.6578C51.439 74.2568 51.8812 71.2172 50.4158 67.5392C49.9152 66.2828 48.9509 65.1015 47.7933 63.6835C46.9759 62.6821 46.0622 61.5628 45.1474 60.2157C43.7336 58.1338 42.802 54.8868 42.2081 52.8168C41.8735 51.6505 41.646 50.8578 41.5 50.8578C41.3539 50.8578 41.1265 51.6505 40.7919 52.8168C40.198 54.8868 39.2664 58.1338 37.8526 60.2157C36.9378 61.5628 36.0241 62.6821 35.2067 63.6835C34.0491 65.1015 33.0848 66.2828 32.5842 67.5392C31.1188 71.2172 31.561 74.2568 31.7648 75.6578C31.8428 76.194 31.8859 76.4902 31.7737 76.4902C31.3684 76.4902 28.9368 72.0147 29.3421 67.5392C29.5578 65.1572 30.0191 64.1583 30.5783 62.9475C31.0697 61.8833 31.6367 60.6555 32.1789 58.1814C33.3381 52.8922 32.9895 51.6716 32.9895 51.6716C32.9895 51.6716 30.4654 52.2136 26.1 55.7402C23.4723 57.8629 22.5397 58.9043 21.86 59.6633C21.4105 60.1652 21.0716 60.5435 20.4263 61.0294C19.5512 61.6884 19.6547 56.5539 21.2368 53.299C22.819 50.0441 25.6947 47.1961 25.6947 47.1961C25.6947 47.1961 3 43.9412 3 41.5C3 39.0588 16.7789 38.652 16.7789 38.652C16.7789 38.652 15.1579 34.1765 16.3737 30.1078C17.5895 26.0392 15.9684 21.5637 15.9684 21.5637C15.9684 21.5637 22.4526 23.1912 22.4526 32.1422C22.4526 41.0931 29.3421 37.0245 29.3421 37.0245C29.3421 37.0245 24.4789 30.1078 28.1263 22.3775C31.7737 14.6471 38.6632 13.4265 38.6632 13.4265ZM46.7745 38.2451C44.8687 38.2451 43.4205 36.4933 43.5324 34.5833C43.6375 32.7888 44.9839 31.3284 46.7745 31.3284C48.5651 31.3284 49.9115 32.7888 50.0166 34.5833C50.1005 36.0158 49.3069 37.3593 48.1008 37.9415C47.6988 38.1356 47.2509 38.2451 46.7745 38.2451ZM32.9955 34.5833C32.8836 36.4933 34.3319 38.2451 36.2377 38.2451C36.7141 38.2451 37.1619 38.1356 37.564 37.9415C38.77 37.3593 39.5637 36.0158 39.4798 34.5833C39.3746 32.7888 38.0282 31.3284 36.2377 31.3284C34.4471 31.3284 33.1007 32.7888 32.9955 34.5833Z"
              fill="var(--color-primary)"></path>
          </g>
          <defs>
            <clipPath id="clip0_8_44">
              <rect width="391" height="83" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>

        <p class="text-3xl pt-2">Une formation d'excellence avec un titre centré</p>
        <p class="text-xl pt-2">
          L'identité graphique est pas ouf, mais il me faut écrire un long texte
          pour vérifier les overflow, donc me voilà. Sinon ça va
        </p>
        <div>
          <a href="about" class="btn btn-primary mt-4">En savoir plus</a>
          <a href="contact" class="btn btn-secondary mt-4 ml-4"
            >Nous contacter</a
          >
        </div>
      </div>
      <div class="flex-1 w-full p-4 md:m-10">
        <BentoGrid />
      </div>
    </div>
    <div class="m-10 alert alert-warning">
      Info parcoursup/renseignement primordial
    </div>
    <Hero1 />
    <Partenaires />
</DefaultLayout>
