---
import DefaultLayout from "../layouts/Default.astro";
import Hero1 from "../components/Hero1.astro";
import Partenaires from "../components/Partenaires.astro";
---

<DefaultLayout>
    <div
      class="flex flex-col lg:flex-row place-items-center md:mx-16 mt-10 gap-16"
    >
      <div class="flex flex-col lg:flex-1 lg:min-w-0 min-w-full">
        <p class="text-3xl font-bold pt-2">Cycle Pluridisciplinaire d'Études Supérieures</p>
        <p class="text-xl pt-2">
          Texte à compléter
        </p>
        <div class="flex flex-col md:flex-row gap-4 pt-4">
          <a href="about" class="btn btn-primary max-sm:w-full">En savoir plus</a>
          <a href="contact" class="btn btn-secondary max-sm:w-full"
            >Nous contacter</a
          >
        </div>
      </div>
    </div>
    <div class="my-10 alert alert-warning">
      Info parcoursup/renseignement primordial
    </div>
    <Hero1 />
    <Partenaires />
</DefaultLayout>
