---
// Ulysse est le CPES originel
const { nom = "Ulysse", photo = "/uly.jpg", annee = "L1", spe = "sante" } = Astro.props;
import { Icon } from "astro-icon/components";
---

<article class="card w-full bg-base-100 border border-base-content/30 card-lg" data-annee={ annee } data-spe={ spe }>
  <div class="card-body">
    <div class="flex">
        <img src={ photo } alt={ nom } class="w-14 h-14 rounded-full"/>
        <div class="ml-2">
            <h2 class="card-title">{ nom }</h2>
            {
                annee == "L3" ? <span class="badge badge-error">L3</span>
                : annee == "L2" ? <span class="badge badge-warning">L2</span>
                : <span class="badge bg-yellow-200 border-bg-yellow-300 text-yellow-700">L1</span>
            }
            {
                spe == "sante" ? <span class="badge badge-success">🧬 Spé Santé</span>
                : <span class="badge badge-info">📊 Spé Société</span>
            }
        </div>
    </div>
    <content>
      <slot />
    </content>
    <div class="justify-end card-actions pt-2">
      <button class="btn btn-primary">
        <Icon name="tabler:mail" /> Contacter { nom }
      </button>
    </div>
  </div>
</article>