---
import { localizeHref } from "../utils/locale";
import { getLangFromUrl, useTranslations } from '../i18n';
const l = (href: string) => localizeHref(href, Astro.url);
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="bg-primary">
  <div class="bg-[url('/assets/footer_cpes.jpg')] bg-no-repeat bg-center bg-cover md:h-64 h-48">
    <div class="bg-black/10 h-full">
      <div class="text-white container mx-auto px-6 w-full flex flex-col items-left justify-center h-full">
        <p class="text-2xl md:text-4xl font-bold">Texte à compléter</p>
        <p class="mt-2 text-xl">Texte à compléter</p>
      </div>
    </div>
  </div>
  <div class="container mx-auto px-6 py-12">
    <div class="flex flex-col md:flex-row gap-8 justify-between">
      <div class="flex flex-col items-start gap-4">
        <img src="/assets/logo_cpes-paris-saclay.svg" alt="Logo du CPES Paris-Saclay" class="h-14 md:h-18 mt-2.5 dark:invert"/>
        <p class="text-sm mb-4">
            Texte à compléter
        </p>
      </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">
            <div>
                <p class="font-bold text-lg mb-4" data-i18n="formation">{t('formation')}</p>
                <div class="flex flex-col space-y-2 text-sm">
                    <a href={l("/a-propos")} class="hover:font-medium transition-all" data-i18n="apropos">{t('apropos')}</a>
                    <a href={l("/formation/lycee-international-de-palaiseau")} class="hover:font-medium transition-all" data-i18n="lipps">{t('lipps')}</a>
                    <a href={l("/formation/institut-polytechnique-de-paris")} class="hover:font-medium transition-all" data-i18n="ipp">{t('ipp')}</a>
                    <a href={l("/formation/universite-paris-saclay")} class="hover:font-medium transition-all" data-i18n="ups">{t('ups')}</a>
                    <a href={l("/formation/hec-paris")} class="hover:font-medium transition-all" data-i18n="hec">{t('hec')}</a>
                    <a href={l("/formation/ens-paris-saclay")} class="hover:font-medium transition-all" data-i18n="ens">{t('ens')}</a>
                </div>
            </div>
            <div>
                <p class="font-bold text-lg mb-4" data-i18n="informations">{t('informations')}</p>
                <div class="flex flex-col space-y-2 text-sm">
                    <a href={l("/programme")} class="hover:font-medium transition-all" data-i18n="programme">{t('programme')}</a>
                    <a href={l("/debouches")} class="hover:font-medium transition-all" data-i18n="debouches">{t('debouches')}</a>
                    <a href={l("/boursiers")} class="hover:font-medium transition-all" data-i18n="boursiers">{t('boursiers')}</a>
                    <a href={l("/faq")} class="hover:font-medium transition-all" data-i18n="faq">{t('faq')}</a>
                    <a href={l("/documents-officiels")} class="hover:font-medium transition-all" data-i18n="documentsOfficiels">{t('documentsOfficiels')}</a>
                </div>
            </div>
            <div>
                <p class="font-bold text-lg mb-4" data-i18n="ouvertures">{t('ouvertures')}</p>
                <div class="flex flex-col space-y-2 text-sm">
                    <a href={l("/langues-sports-ateliers")} class="hover:font-medium transition-all" data-i18n="languesSportsAteliers">{t('languesSportsAteliers')}</a>
                    <a href={l("/conferences")} class="hover:font-medium transition-all" data-i18n="conferences">{t('conferences')}</a>
                    <a href={l("/visites")} class="hover:font-medium transition-all" data-i18n="visites">{t('visites')}</a>
                    <a href={l("/projets-et-entrepreneuriat")} class="hover:font-medium transition-all" data-i18n="projets">{t('projets')}</a>
                    <a href={l("/initiation-a-la-recherche")} class="hover:font-medium transition-all" data-i18n="recherches">{t('recherches')}</a>
                    <a href={l("/capstone")} class="hover:font-medium transition-all" data-i18n="capstone">{t('capstone')}</a>
                </div>
            </div>
            <div>
                <p class="font-bold text-lg mb-4" data-i18n="vieEtAdmissions">{t('vieEtAdmissions')}</p>
                <div class="flex flex-col space-y-2 text-sm">
                    <a href={l("/nos-etudiants")} class="hover:font-medium transition-all" data-i18n="etudiants">{t('etudiants')}</a>
                    <a href={l("/partenaires")} class="hover:font-medium transition-all" data-i18n="partenaires">{t('partenaires')}</a>
                    <a href={l("/admission")} class="hover:font-medium transition-all" data-i18n="admissions">{t('admissions')}</a>
                    <a href={l("/contact")} class="hover:font-medium transition-all" data-i18n="contact">{t('contact')}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-16 flex flex-col md:flex-row justify-between md:items-center gap-4 text-sm">
      <div class="text-left md:text-left">
        <p>© CPES Paris-Saclay</p>
      </div>
      <div class="flex flex-wrap md:justify-center gap-x-6 gap-y-2">
        <a href={l("/mentions-legales")} class="hover:font-medium transition-all">{t('mentionsLegales')}</a>
        <a href={l("/politique-confidentialite")} class="hover:font-medium transition-all">{t('politiqueConfidentialite')}</a>
      </div>
    </div>
  </div>
  <div class="bg-error fixed text-white uppercase bottom-0 left-0 right-0 text-center py-3 px-4">
    <p class="text-sm">
      Ce site internet n'est EN AUCUN CAS officiel et représentatif des CPES. Il sert uniquement de maquette.
    </p>
  </div>
</footer>