---
---

<div class="bg-base-200 flex items-center justify-center p-5 md:p-10">
  <div class="flex flex-col lg:flex-row gap-10 items-center">
    <img
      src="https://www.lipsp.fr/wp-content/uploads/2021/06/Header00.jpg"
      class="w-auto md:w-160 h-40 md:h-90 object-cover rounded-box"
    />
    <div>
      <h1 class="text-3xl md:text-5xl font-bold">Titre</h1>
      <p class="py-6">
        Texte à compléter
      </p>
    </div>
  </div>
</div>