---
const currentPath = Astro.url.pathname;
const isEnglish = currentPath.startsWith('/en');
const frUrl = isEnglish ? currentPath.replace(/^\/en/, '') || '/' : currentPath;
const enUrl = isEnglish ? currentPath : `/en${currentPath}`;
---

<div class="flex items-center justify-center gap-1.5 mt-4 lg:mt-0 md:ml-8">
  <a 
    href={frUrl}
    data-lang="fr"
    class:list={[
      "font-medium lang-switcher hover:font-medium",
      !isEnglish ? "text-base-content text-xl" : "text-base-content/50 hover:text-base-content text-sm"
    ]}
  >
    FR
  </a>
  <span class="text-base-content/50">|</span>
  <a 
    href={enUrl}
    data-lang="en"
    class:list={[
      "font-medium lang-switcher hover:font-medium",
      isEnglish ? "text-base-content text-xl" : "text-base-content/50 hover:text-base-content text-sm"
    ]}
  >
    EN
  </a>
</div>