---
import { Icon } from "astro-icon/components";
import { localizeHref } from "../utils/locale";

interface Props {
  href?: string;
  icon?: string;
}

const { href, icon } = Astro.props;
const localizedHref = href ? localizeHref(href, Astro.url) : undefined;
---

{localizedHref ? (
    <a href={localizedHref} class="flex flex-row items-center text-[18px] gap-2 hover:font-medium transition-all hover:cursor-pointer">
      {icon && <Icon name={icon} />}
      <slot />
    </a>
) : (
  <div class="flex flex-row items-center text-[18px] gap-2 hover:font-medium transition-all hover:cursor-pointer">
    <slot />
  </div>
)}
