---
import { Icon } from "astro-icon/components";
import Navigation from "./Navigation.astro"
---

<div id="navbar" class="p-4 md:px-8 hidden md:flex justify-center fixed top-0 left-0 w-full transition-all duration-500 ease-in-out z-10">
    <Navigation />
</div>
<div id="mobileNavbar" class="p-4 md:px-8 flex items-center md:hidden fixed top-0 left-0 w-full transition-all duration-500 ease-in-out z-10"
     style="background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0)); -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0));">
    <div class="flex-1 text-lg font-bold">
        Logo/Titre/Rien?
    </div>
    <label for="mobile_drawer" class="btn drawer-button">
        <Icon name="tabler:menu" />
    </label>
</div>
