---
---

<div class="text-secondary bg-secondary-content dark:text-secondary-content dark:bg-secondary py-10 px-5 md:px-20">
    <h1 class="text-xl text-center font-bold" data-i18n="etablissements">Les établissements qui opèrent le CPES Paris-Saclay</h1>
    <div class="flex flex-wrap justify-center items-center gap-13 mt-8">
        <img src="/assets/partenaires/logo_ipparis.svg" alt="Logo de l'Institut Polytechnique de Paris" class="h-20 lg:h-23"/>
        <img src="/assets/partenaires/logo_universite-paris-saclay.svg" alt="Logo de l'Université Paris-Saclay" class="h-14 md:h-18"/>
        <img src="/assets/partenaires/logo_hecparis.svg" alt="Logo de HEC Paris" class="h-15 md:h-20"/>
        <img src="/assets/partenaires/logo_ens-paris-saclay.svg" alt="Logo de l'ENS Paris-Saclay" class="h-15 md:h-18"/>
        <img src="/assets/partenaires/logo_lipps.png" alt="Logo du Lycée International de Palaiseau" class="h-15 md:h-22"/>
    </div>
</div>
