@import url('https://tetunori.github.io/fluent-emoji-webfont/dist/FluentEmojiColor.css');
@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: false;
  logs: false;
};


@plugin "daisyui/theme" {
  name: "cpes-paris-saclay-light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(96.27% 0 0);
  --color-base-300: oklch(89.8% 0 0);
  --color-base-content: oklch(0% 0 0);
  --color-primary: oklch(100% 0 0);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(0% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(0% 0 0);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(0% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "cpes-paris-saclay-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(3.92% 0 0);
  --color-base-300: oklch(7.84% 0 0);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(0% 0 0);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(100% 0 0);
  --color-secondary-content: oklch(0% 0 0);
  --color-accent: oklch(100% 0 0);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(100% 0 0);
  --color-neutral-content: oklch(0% 0 0);
  --color-info: oklch(87.8% 0.143 149.100);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(53.4% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(90.5% 0.195 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}

@custom-variant light (&:where([data-theme=cpes-paris-saclay-light], [data-theme=cpes-paris-saclay-light] *));

@custom-variant dark (&:where([data-theme=cpes-paris-saclay-dark], [data-theme=cpes-paris-saclay-dark] *));


.html {
  scroll-behavior: smooth;
}

:root {
  --default-font-family: 'Montserrat', 'Fluent Emoji Color', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --astro-code-foreground: var(--color-base-content);
  --astro-code-background: var(--color-base-300);
  --astro-code-token-constant: var(--color-info);
  --astro-code-token-string: var(--color-success);
  --astro-code-token-comment: var(--color-success);
  --astro-code-token-keyword: var(--color-error);
  --astro-code-token-parameter: #ffa657;
  --astro-code-token-function: var(--color-error);
  --astro-code-token-string-expression: var(--color-success);
  --astro-code-token-punctuation: #8b949e;
  --astro-code-token-link: var(--color-info);
}

button:focus,
button:active,
.btn:focus,
.btn:active,
[role="button"]:focus,
[role="button"]:active {
  background-color: transparent !important;
  outline: none !important;
}

.menu li > *:focus,
.menu li > *:active {
  background-color: transparent !important;
}

* {
  transition: none !important;
  animation: none !important;
}

.dropdown-arrow,
.dropdown-content,
.theme-icon-light,
.theme-icon-dark,
.lang-switcher {
  transition: all 0.3s ease !important;
}

