@import url('https://tetunori.github.io/fluent-emoji-webfont/dist/FluentEmojiColor.css');
@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "daisyui";


/*
@plugin "daisyui/theme" {
  name: "marcel";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: #A2407C;
  --color-primary-content: oklch(98% 0.014 335.900);
  --color-secondary: oklch(60% 0.118 184.704);
  --color-secondary-content: oklch(98% 0.014 180.72);
  --color-accent: oklch(60% 0.126 221.723);
  --color-accent-content: oklch(98% 0.019 200.873);
  --color-neutral: oklch(37% 0.034 259.733);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 1;
}
*/


@plugin "daisyui/theme" {
  name: "marcel";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: oklch(43.9% 0.210 360);
  --color-primary-content: oklch(98% 0.014 335.9);
  --color-secondary: oklch(86.1% 0.330 256.800);
  --color-secondary-content: oklch(98% 0.025 180.720);
  --color-accent: oklch(45.7% 0.126 221.723);
  --color-accent-content: oklch(98% 0.019 200.873);
  --color-neutral: oklch(37% 0.034 259.733);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(87.8% 0.143 149.100);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(53.4% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(90.5% 0.195 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 1;
}



@custom-variant dark (&:where(
  [data-theme=dark], [data-theme=dark] *,
  [data-theme=marcel], [data-theme=marcel] *
));

.html {
  scroll-behavior: smooth;
}

:root {
  --default-font-family: 'Outfit', 'Fluent Emoji Color', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --astro-code-foreground: var(--color-base-content);
  --astro-code-background: var(--color-base-300);
  --astro-code-token-constant: var(--color-info);
  --astro-code-token-string: var(--color-success);
  --astro-code-token-comment: var(--color-success);
  --astro-code-token-keyword: var(--color-error);
  --astro-code-token-parameter: #ffa657;
  --astro-code-token-function: var(--color-error);
  --astro-code-token-string-expression: var(--color-success);
  --astro-code-token-punctuation: #8b949e;
  --astro-code-token-link: var(--color-info);
}

html[data-theme="marcel"] {
  --default-font-family: 'JetBrains Mono', monospace, 'Fluent Emoji Color', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
}
