@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";


/*
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: #A2407C;
  --color-primary-content: oklch(98% 0.014 335.900);
  --color-secondary: oklch(60% 0.118 184.704);
  --color-secondary-content: oklch(98% 0.014 180.72);
  --color-accent: oklch(60% 0.126 221.723);
  --color-accent-content: oklch(98% 0.019 200.873);
  --color-neutral: oklch(37% 0.034 259.733);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(71% 0.143 215.221);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(70% 0.213 47.604);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 1;
}

@layer base {
  body {
    font-family: 'JetBrains Mono', monospace;
  }
}
*/

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.block-default {
  border: red 2rem;
}

:root {
  --astro-code-foreground: var(--color-base-content);
  --astro-code-background: var(--color-base-300);
  --astro-code-token-constant: var(--color-info);
  --astro-code-token-string: var(--color-success);
  --astro-code-token-comment: var(--color-success);
  --astro-code-token-keyword: var(--color-error);
  --astro-code-token-parameter: #ffa657;
  --astro-code-token-function: var(--color-error);
  --astro-code-token-string-expression: var(--color-success);
  --astro-code-token-punctuation: #8b949e;
  --astro-code-token-link: var(--color-info);
}