---
import ClientRouter from "astro/components/ClientRouter.astro";

const { title = "Accueil" } = Astro.props;
---

<head>
    <ClientRouter />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>CPES Paris Saclay - {title}</title>
    <meta name="robots" content="noindex">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <script is:inline data-astro-rerun>
        if (localStorage.getItem("theme") === null) {
            document.documentElement.setAttribute("data-theme", "light");
        } else
        document.documentElement.setAttribute("data-theme",localStorage.getItem("theme"));
    </script>
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
</head>
